name: Format
on: [push, pull_request]
jobs:
  all:
    runs-on: ubuntu-latest
    steps:
    - uses: hecrj/setup-rust-action@v1
      with:
        components: rustfmt, clippy
    - uses: actions/checkout@master
    - name: Check format
      run: |
      cargo fmt --all -- --check
      cargo clippy --all-features -- -D warnings
